@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*,

::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: rgb(238, 226, 208);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .modal-button{
        background-color: rgb(39, 180, 39);
        padding: 1em;
        border-radius: 10px;
        cursor: pointer;
        h1{
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
        }
    }
    section{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        visibility: hidden;
        .modal{
            background-color: #fff;
            width: 550px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            .modal-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.2em 1em;
                h1{
                    font-size: 1.3rem;
                    letter-spacing: 0.5px;
                }
                .fa-solid{
                    cursor: pointer;
                    padding: 0.5em;
                }
            }
            hr{
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #ccc;
                padding: 0;
            }
            .modal-description{
                padding: 2.5em 1.3em;
                p{
                    font-size: 0.875rem;
                    line-height: 25px;
                    letter-spacing: 0.45px;
                    color: rgb(133, 123, 123);
                }
            }
        }
    }
    .show-modal{
        visibility: visible;
    }
}